

.search_form
	position: relative

	&__input
		border: none
		background-color: transparent
		border-bottom: 2px solid $activeColor
		min-width: 300px
		padding: 5px
		color: white

	&__submit
		position: absolute
		right: 0
		height: 20px
		border: none
		background-color: transparent
		font-size: 0
		width: 20px
		bottom: 5px
		cursor: pointer

.dark_section
	::placeholder
		color: white
	.search_form

		&__input
			border-bottom: 2px solid white

		&__submit
			background: url('../images/header_sprites.png') -78px -0
				

			
