// @import '../assets/slick'
@import '../assets/magnific-popup'
@import '../../node_modules/slick-carousel/slick/slick.scss'
@import url('https://fonts.googleapis.com/css?family=Tinos:400,700&subset=cyrillic')



$activeColor: #440028


*
	margin: 0
	padding: 0
	transition: transform 0.4s, color 0.4s, background-color 0.4s,  background 0.4s
	outline: none
	box-sizing: border-box

html,body
	font-family: 'Tinos', serif
	padding: 0
	overflow-x: hidden
	line-height: 1.4

img
	max-width: 100%	
	vertical-align: middle



.container
	width: 90%
	margin: 0 auto
	padding: 10px 0
	@media (max-width: 990px)
		width: 90%
.center__wrapper
	text-align: center
	.flex-wrapper
		justify-content: center

.flex-wrapper
	display: flex
	justify-content: space-between
	align-items: stretch
	flex-wrap: wrap
	@media (min-width: 400px)
		padding: 0 1em
	&__center
		align-items: center
	.flex-column
		
		&__1-4
			flex-grow: 1
			flex-basis: 300px
		&__1-2
			flex-grow: 1
			flex-basis: 300px
		&__1-3
			flex-grow: 1
			flex-basis: 300px
		&__2-3
			flex-grow: 2
			flex-basis: 300px
	[class*="flex-col"]
		margin-right: 2em
		&:last-child
			margin-right: 0
////////////////////////////
//       TIPOGRAPHY
////////////////////////////



h1
		font-size: 4em
		text-transform: uppercase
		word-wrap: break-word
		overflow-wrap: break-word
		line-height: 1
		margin: 2em 0 0.5em
		.label
			font-size: 0.4em
			display: inline-block
			background-color: $activeColor
			color: white
			padding: 0.3em 0.5em
			text-transform: initial
			@media (max-width: 400px)
				font-size: 0.6em
		@media (max-width: 1200px)
			font-size: 3em
		@media (max-width: 700px)
			font-size: 2em
		@media (max-width: 400px)
			font-size: 1.5em
h2
	font-size: 3em
	line-height: 1
	margin: 1em 0 0.3em 0
	background-color: $activeColor
	color: white
	display: inline-block
	padding: 0.2em 0.3em
	@media (max-width: 700px)
		font-size: 2em
	@media (max-width: 400px)
		font-size: 1.5em

h3
	font-size: 1.3em
	line-height: 1.2
	margin: 1em 0
	color: $activeColor
	@media (max-width: 700px)
		font-size: 1.2em
	@media (max-width: 400px)
		font-size: 1.1em

h4
	font-size: 1.2em
	line-height: 1
	margin: 1em 0
a
	color: black
	text-decoration: none
.icon_big
	font-size: 6em

a.button
	border: 2px solid $activeColor
	color: $activeColor
	padding: 0.5em 1.5em
	display: inline-block
	margin: 1em 0
	font-weight: 600
	border-radius: 25px
	cursor: pointer
	&:hover
		background-color: $activeColor
		color: white
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2)

.grey_section
	background-color: #e6e4e4

.dark_section
	background-color: $activeColor
	color: white

	a
		color: white
		text-decoration: none

@import 'includes/style'
@import 'includes/header'
@import 'includes/forms'
@import 'includes/footer'

.head_block_wrapp
	background-image: url(../images/back.jpg)
	background-repeat: no-repeat
	background-size: cover
	margin-bottom: 20em

	.head_block
		margin-top: 100px
		text-align: center
		max-width: 900px


	.head-directions
		text-align: center
		background-color: rgba(255, 255, 255, 0.5)
		box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2)
		margin: 2em 0 -20em
		padding: 1em 0
		&__item
			background-color: white
			box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4)
			margin: 1em
			padding: 2em
			transition: color 0s
			[class^="icon-"], [class*=" icon-"]
				color: $activeColor
			&:hover
				background-color: rgba(68, 0, 40, 0.9)
				color: white

				[class^="icon-"], [class*=" icon-"]
					color: white
				a.button
					color: $activeColor
					background-color: white


///////////////////////////////
//    SLIDER + POPUP_IMAGE
///////////////////////////////



.slider_block
	width: 300px
	padding: 1em
	position: relative
	
	.slick-slide
		margin: 0 1em
	.slick-arrow
		position: absolute
		top: 50%
		transform: translateY(-50%)
		font-size: 0
		width: 60px
		left: -30px
		height: 60px
		background-color: initial
		border: none
		z-index: 10
		cursor: pointer
		&:before,
		&:after
			content: ''
			position: absolute
			width: 40px
			height: 3px
			background-color: $activeColor
		&:before
			transform: rotate(45deg) translateX(-11px) translateY(30px)
		&:after	
			transform: rotate(-45deg) translateX(-11px) translateY(-30px)
		&.slick-next
			right: -30px
			left: initial
			transform: rotate(180deg) translateY(50%)



	.slick-dots
		text-align: center
		li
			list-style-type: none
			display: inline
			margin: 0 0.1em
			button
				font-size: 0
				width: 15px
				height: 15px
				border-radius: 50%
				border: 2px solid $activeColor
				background-color: initial
				cursor: pointer
			&.slick-active
				button
					background-color: $activeColor

.about_slider
	img
		max-height: 250px


.specialOffer_block_wrapp
	.flex-wrapper
		@media (max-width: 740px)
			flex-direction: column
			.flex-column
				margin-right: 0 
		.flex-column
			margin-bottom: 1em
			

.lecturers_slider
	width: 100%
	.slick-arrow
		left: 0px
		&.slick-next
			right: 0px
	.slick-slide
		.hidden_block
			@media (min-width: 840px)
				display: none
				margin: 0 -50%
				position: relative
				z-index: 1

		// 1 slide
		&.slick-current
			@media (min-width: 1200px)
				transform: scale(0.7) translateX(30%)
			@media (max-width: 1200px) and (min-width: 840px)
				transform: scale(0.8) translateX(10%)

			// 2 slide
			&+.slick-slide
				@media (min-width: 1200px)
					transform: scale(0.85) 
					
				// 3 slide
				&+.slick-slide
					position: relative
					z-index: 1

					@media (max-width: 1200px) and (min-width: 840px)
						transform: scale(0.8) translateX(-10%)
					// 4 slide	
					&+.slick-slide
						@media (min-width: 1200px)
							transform: scale(0.85)


						// 5 slide	
						&+.slick-slide
							@media (min-width: 1200px)
								transform: scale(0.7) translateX(-30%)

					// center slide	
					@media (min-width: 1200px) and (min-width: 840px)		
						.image_wrapper
							box-shadow: 0.8em 0.8em 0 0.8em $activeColor
						.hidden_block
							display: block
				@media (max-width: 1200px) and (min-width: 900px)	
					.image_wrapper
						box-shadow: 0.7em 0.7em 0 0.7em $activeColor
					.hidden_block
						display: block
				@media (max-width: 900px) and (min-width: 840px)	 
					.image_wrapper
						box-shadow: 0.6em 0.6em 0 0.6em $activeColor
			@media (max-width: 700px)
				.image_wrapper
						box-shadow: 0.5em 0.5em 0 0.5em $activeColor
	.slick-arrow
		top: 150px
		@media (max-width: 1660px)
			top: 130px
		@media (max-width: 1480px)
			top: 110px
		@media (max-width: 1200px)
			top: 150px
		@media (max-width: 1000px)
			top: 110px
		@media (max-width: 700px)
			top: 150px
	.image_wrapper
		width: 300px
		height: 300px
		overflow: hidden
		margin: 0 auto
		border-radius: 50%
		border: 2px solid $activeColor
		@media (max-width: 1760px)
			width: 280px
			height: 280px
		@media (max-width: 1660px)
			width: 250px
			height: 250px
		@media (max-width: 1480px)
			width: 220px
			height: 220px
		@media (max-width: 1310px)
			width: 200px
			height: 200px
		@media (max-width: 1200px)
			width: 320px
			height: 320px
		@media (max-width: 1130px)
			width: 280px
			height: 280px
		@media (max-width: 1000px)
			width: 230px
			height: 230px
	.specialty
		background-color: $activeColor
		color: white
		font-weight: 600
		padding: 0.3em 1em
		border-radius: 15px
		margin-top: 0.3em
		display: inline-block
