// @import '../assets/slick'
@import '../assets/magnific-popup'
@import '../../node_modules/slick-carousel/slick/slick.scss'
@import url('https://fonts.googleapis.com/css?family=Tinos:400,700&subset=cyrillic')



$activeColor: #440028
$greyColor: #f0f0f0

*
	margin: 0
	padding: 0
	transition: transform 0.4s, color 0.4s, background-color 0.4s,  background 0.4s
	outline: none
	box-sizing: border-box

html,body
	font-family: 'Tinos', serif
	padding: 0
	overflow-x: hidden
	line-height: 1.4

img
	max-width: 100%	
	vertical-align: middle

ul
	padding-left: 20px

.container
	width: 90%
	margin: 0 auto
	padding: 10px 0 2em
	@media (max-width: 990px)
		width: 90%
.center__wrapper
	text-align: center
	.flex-wrapper
		justify-content: center
.flex-wrapper__container
	// padding-right: 2em
.flex-wrapper
	display: flex
	justify-content: space-between
	align-items: stretch
	flex-wrap: wrap
	margin-right: -2em
	@media (min-width: 400px)
		padding: 0 1em
	&__center
		align-items: center
	@media (max-width: 1200px)
		justify-content: center
	.flex-column
		
		&__1-4
			flex-grow: 1
			// flex-basis: 230px
			width: 20%
			// -ms-flex-basis: initial

			@media (max-width: 1200px)
				flex-basis: 350px
				width: 10%
				// flex-grow: 10
				max-width: 350px
			// @media (max-width: 1330px)
			// 	flex-basis: 400px
			// @media (max-width: 998px)
			// 	flex-basis: 300px

		&__1-2
			flex-grow: 1
			flex-basis: 300px
		&__1-3
			flex-grow: 1
			flex-basis: 300px
		&__2-3
			flex-grow: 2
			flex-basis: 300px
			width: 20%
	&>div
		margin-right: 2em

	&.flex-content-column
		flex-direction: column
		width: 100%
		&>div
			margin-right: 0
			width: 100%
	.flex-wrapper
		padding: 0
	// & > .flex-column__1-4
	// 	&:nth-child(2n)
	// 		.flex-content-column
	// 			@media (min-width: 670px)
	// 				flex-direction: column-reverse
		// &:last-child
		// 	margin-right: 0
////////////////////////////
//       TIPOGRAPHY
////////////////////////////



h1
	font-size: 3.5em
	text-transform: uppercase
	word-wrap: break-word
	overflow-wrap: break-word
	line-height: 1
	margin: 2em 0 0.5em
	.label
		font-size: 0.4em
		display: inline-block
		background-color: $activeColor
		color: white
		padding: 0.3em 0.5em
		text-transform: initial
		@media (max-width: 400px)
			font-size: 0.6em
	@media (max-width: 1200px)
		font-size: 3em
	@media (max-width: 700px)
		font-size: 2em
	@media (max-width: 400px)
		font-size: 1.5em
h2
	font-size: 3em
	line-height: 1
	margin: 1em 0 0.3em 0
	// background-color: $activeColor
	color: $activeColor
	display: inline-block
	// padding: 0.2em 0.3em
	@media (max-width: 700px)
		font-size: 2em
	@media (max-width: 400px)
		font-size: 1.5em

h3
	font-size: 1.3em
	line-height: 1.2
	margin: 1em 0
	color: $activeColor
	@media (max-width: 700px)
		font-size: 1.2em
	@media (max-width: 400px)
		font-size: 1.1em

h4
	font-size: 1.2em
	line-height: 1
	margin: 1em 0
a
	color: black
	text-decoration: none
.icon_big
	font-size: 4em

a.button
	border: 2px solid $activeColor
	color: $activeColor
	padding: 0.5em 1.5em
	display: inline-block
	margin: 1em 0
	font-weight: 600
	border-radius: 25px
	cursor: pointer
	&:hover,
	&.active
		background-color: $activeColor
		color: white
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2)

.grey_section
	background-color: $greyColor

.dark_section
	background-color: $activeColor
	color: white
	h2
		color: white

	a
		color: white
		text-decoration: none

@import 'includes/style'
@import 'includes/header'
@import 'includes/forms'
@import 'includes/footer'

.head_block_wrapp
	
	background-repeat: no-repeat
	background-size: 120%
	background-position: top center
	@media (max-width: 1425px)
		background-size: 150%
		background-position: 30% top 
		@media (max-width: 1200px)
			background-size: 150%
			background-position: top left
		@media (max-width: 1000px)
			background-size: 1500px
			background-position: 40% top 


.navigation_buttons
	a
		margin: 1em 0.2em
		padding: 0.3em 0.6em
		color: $activeColor
///////////////////////////////
//    SLIDER + POPUP_IMAGE
///////////////////////////////



.slider_block
	// max-width: 600px
	width: 100%
	position: relative
	
	.slick-slide
		padding: 0 1em
		// max-width: 500px
	.slick-arrow
		position: absolute
		top: 50%
		transform: translateY(-50%)
		font-size: 0
		width: 60px
		left: -30px
		height: 60px
		background-color: initial
		border: none
		z-index: 10
		cursor: pointer
		@media (max-width: 700px)
			left: -15px
		&:before,
		&:after
			content: ''
			position: absolute
			width: 40px
			height: 3px
			background-color: $activeColor
			@media (max-width: 700px)
				width: 30px
		&:before
			@media (max-width: 700px)
				transform: rotate(45deg) translateX(-6px) translateY(20px) 
			transform: rotate(45deg) translateX(-15px) translateY(34px) 
			
		&:after	
			@media (max-width: 700px)
				transform: rotate(-45deg) translateX(-6px) translateY(-20px)
			transform: rotate(-45deg) translateX(-15px) translateY(-34px)
			
		&.slick-next
			right: -30px
			left: initial
			transform: rotate(180deg) translateY(50%)
			@media (max-width: 700px)
				right: -15px
		&+.slick-list
			padding: 0 1em
	.slick-disabled
		opacity: 0.3


	.slick-dots
		text-align: center
		padding: 0
		margin-bottom: 1em
		li
			list-style-type: none
			display: inline
			margin: 0 0.1em
			button
				font-size: 0
				width: 15px
				height: 15px
				border-radius: 50%
				border: 2px solid $activeColor
				background-color: initial
				cursor: pointer
			&.slick-active
				button
					background-color: $activeColor

.dark_section
	.slick-arrow
		&:before,
		&:after
			background-color: white



.flex-wrapper__container

	background-color: rgba(255, 255, 255, 0.5)
	box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2)
	margin: 2em 0 2em
	padding: 1em 1em




///////////////////////////////////
//            HOME page
///////////////////////////////////

.home
	.head_block_wrapp
		margin-bottom: 15em
		background-image: url(../images/back.jpg)
		.head_block
			margin-top: 100px
			text-align: center
			max-width: 900px


		.head-directions
			margin: 2em 0 -15em
			text-align: center
			&__item
				background-color: white
				box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4)
				margin-bottom: 1em
				padding: 2em 1em 1.5em
				transition: color 0s
				[class^="icon-"], [class*=" icon-"]
					color: $activeColor
				&:hover
					background-color: rgba(68, 0, 40, 0.9)
					color: white

					[class^="icon-"], [class*=" icon-"]
						color: white
					a.button
						color: $activeColor
						background-color: white


.about_slider
	margin-top: 2em
	img
		max-height: 250px


.specialOffer_block_wrapp
	.flex-wrapper
		.flex-column
			margin-bottom: 1em
			

.lecturers_slider
	width: 100%
	max-width: initial
	.slick-arrow
		left: 0px
		&.slick-next
			right: 0px
		

	.slick-slide
		.hidden_block
			@media (min-width: 840px)
				display: none
				margin: 0 -50%
				position: relative
				z-index: 1

		// 1 slide
		&.slick-current
			@media (min-width: 1200px)
				transform: scale(0.7) translateX(30%)
			@media (max-width: 1200px) and (min-width: 840px)
				transform: scale(0.8) translateX(10%)

			// 2 slide
			&+.slick-slide
				@media (min-width: 1200px)
					transform: scale(0.85) 
					
				// 3 slide
				&+.slick-slide
					position: relative
					z-index: 1

					@media (max-width: 1235px) and (min-width: 840px)
						transform: scale(0.8) translateX(-10%)
					// 4 slide	
					&+.slick-slide
						@media (min-width: 1235px)
							transform: scale(0.85)


						// 5 slide	
						&+.slick-slide
							@media (min-width: 1235px)
								transform: scale(0.7) translateX(-30%)

					// center slide	
					@media (min-width: 1235px) and (min-width: 840px)		
						.image_wrapper
							box-shadow: 0.8em 0.8em 0 0.8em $activeColor
						.hidden_block
							display: block
				@media (max-width: 1235px) and (min-width: 900px)	
					.image_wrapper
						box-shadow: 0.7em 0.7em 0 0.7em $activeColor
					.hidden_block
						display: block
				@media (max-width: 900px) and (min-width: 840px)	 
					.image_wrapper
						box-shadow: 0.6em 0.6em 0 0.6em $activeColor
					.hidden_block
						display: block
			@media (max-width: 840px)
				.image_wrapper
						box-shadow: 0.5em 0.5em 0 0.5em $activeColor
	.slick-arrow
		top: 150px
		@media (max-width: 1660px)
			top: 130px
		@media (max-width: 1480px)
			top: 110px
		@media (max-width: 1235px)
			top: 150px
		@media (max-width: 1000px)
			top: 110px
		@media (max-width: 700px)
			top: 150px
	.image_wrapper
		width: 300px
		height: 300px
		overflow: hidden
		margin: 0 auto
		border-radius: 50%
		border: 2px solid $activeColor
		img
			min-width: 100%
		@media (max-width: 1760px)
			width: 280px
			height: 280px
		@media (max-width: 1685px)
			width: 250px
			height: 250px
		@media (max-width: 1480px)
			width: 220px
			height: 220px
		@media (max-width: 1310px)
			width: 200px
			height: 200px
		@media (max-width: 1235px)
			width: 320px
			height: 320px
		@media (max-width: 1130px)
			width: 280px
			height: 280px
		@media (max-width: 1090px)
			width: 230px
			height: 230px
		@media (max-width: 930px)
			width: 200px
			height: 200px
		@media (max-width: 840px)
			width: 280px
			height: 280px
		@media (max-width: 560px)
			width: 220px
			height: 220px
	.specialty
		background-color: $activeColor
		color: white
		font-weight: 600
		padding: 0.3em 1em
		border-radius: 15px
		margin-top: 0.3em
		display: inline-block

.lessons_block_wrapp

	.lessons_slider
		margin-bottom: 1em

		.slick-slide 
			padding: 0

		img
			width: auto
			max-height: 300px
	p
		margin-bottom: 1em
	.flex-column__1-4



////////////////////////////////
//        page CATEGORIES
////////////////////////////////
.category
	.wrapper
	.head_block_wrapp
		background-image: url(../images/back-category.jpg)
		.head_block
			margin-top: 100px
			max-width: 900px

	.flex-wrapper__container
		background-color: rgba(68, 0, 40, 0.15)
		
.events_block__wrapper
	.event_block__prew
		position: relative
		background-color: white
		box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4)
		z-index: 1
		margin-bottom: 1em
		margin-top: 1em
	.flex-column__event
		width: 330px
		.event_block__prew_info
			padding: 1em 1em 0
			
			.category
				position: absolute
				background-color: $activeColor
				color: white
				font-weight: 600
				padding: 5px 10px 5px 25px
				top: 15px
				left: -15px
				
				&:after
					content: ''
					display: block
					background-color: $activeColor
					width: 20px
					height: 20px
					position: absolute
					transform: rotate(45deg)
					bottom: -10px
					z-index: -1
					left: 5px
			.label
				background-color: rgba(68, 0, 40, 0.15)
				padding: 3px
				margin-right: 3px
				font-weight: 600

			p
				margin-bottom: 1em
				text-align: left