@import url("https://fonts.googleapis.com/css?family=Tinos:400,700&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  transition: transform 0.4s, color 0.4s, background-color 0.4s,  background 0.4s;
  outline: none;
  box-sizing: border-box; }

html, body {
  font-family: 'Tinos', serif;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.4; }

img {
  max-width: 100%;
  vertical-align: middle; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0; }
  @media (max-width: 990px) {
    .container {
      width: 90%; } }

.flex-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 400px) {
    .flex-wrapper {
      padding: 0 1em; } }
  .flex-wrapper__center {
    -ms-flex-align: center;
        align-items: center; }
  .flex-wrapper .flex-column__1-4 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px; }

h1 {
  font-size: 4em;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
  margin: 2em 0 0.5em; }
  h1 .label {
    font-size: 0.4em;
    display: inline-block;
    background-color: #440028;
    color: white;
    padding: 0.3em 0.5em;
    text-transform: initial; }
    @media (max-width: 400px) {
      h1 .label {
        font-size: 0.6em; } }
  @media (max-width: 1200px) {
    h1 {
      font-size: 3em; } }
  @media (max-width: 700px) {
    h1 {
      font-size: 2em; } }
  @media (max-width: 400px) {
    h1 {
      font-size: 1.5em; } }

h2 {
  font-size: 3em;
  line-height: 1;
  margin: 1em 0 0.3em 0;
  background-color: #440028;
  color: white;
  display: inline-block;
  padding: 0.2em 0.3em; }

h3 {
  font-size: 1.3em;
  line-height: 1;
  margin: 1em 0;
  color: #440028; }

h4 {
  font-size: 1.2em;
  line-height: 1;
  margin: 1em 0; }

a {
  color: black;
  text-decoration: none; }

a.button {
  border: 2px solid #440028;
  color: #440028;
  padding: 0.5em 1.5em;
  display: inline-block;
  margin: 1em 0;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer; }
  a.button:hover {
    background-color: #440028;
    color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2); }

.dark_section {
  background-color: #440028;
  color: white; }
  .dark_section a {
    color: white;
    text-decoration: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?g8scn2");
  src: url("../fonts/icomoon.eot?g8scn2#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?g8scn2") format("truetype"), url("../fonts/icomoon.woff?g8scn2") format("woff"), url("../fonts/icomoon.svg?g8scn2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\e900"; }

.icon-google:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e902"; }

.icon-mail:before {
  content: "\e903"; }

.icon-phone:before {
  content: "\e904"; }

.icon-search:before {
  content: "\e905"; }

.icon-slideshare:before {
  content: "\e906"; }

.icon-twitter:before {
  content: "\e907"; }

.icon-vk:before {
  content: "\e908"; }

.icon-youtube:before {
  content: "\e909"; }

.icon-menu:before {
  content: "\e90e"; }

.icon-archive:before {
  content: "\e90a"; }

.icon-communication:before {
  content: "\e90b"; }

.icon-folder:before {
  content: "\e90c"; }

.icon-student:before {
  content: "\e90d"; }

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%; }

@media (max-width: 1200px) {
  .header_logo {
    width: 250px; } }

.header_contact {
  margin-right: 20px; }
  .header_contact:last-child {
    margin-right: 0; }
  @media (max-width: 1260px) {
    .header_contact.header_contact__email {
      display: none; } }
  .header_contact [class^="icon-"],
  .header_contact [class*=" icon-"] {
    margin-right: 5px; }

@media (max-width: 910px) {
  .header_search {
    display: none; } }

.social_block [class^="icon-"],
.social_block [class*=" icon-"] {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 50%; }
  .social_block [class^="icon-"]:hover,
  .social_block [class*=" icon-"]:hover {
    color: #440028;
    background-color: white; }

.social_block .soc {
  margin-right: 10px; }
  .social_block .soc:last-child {
    margin-right: 0; }
  @media (max-width: 500px) {
    .social_block .soc:nth-child(6), .social_block .soc:nth-child(7) {
      display: none; }
    .social_block .soc:nth-child(5) {
      margin-right: 0; } }
  @media (max-width: 4100px) {
    .social_block .soc:nth-child(5), .social_block .soc:nth-child(3) {
      display: none; }
    .social_block .soc:nth-child(4) {
      margin-right: 0; } }

.header_nav__menu {
  font-size: 1.2em;
  font-weight: 600; }
  .header_nav__menu a.nav_button__hidden {
    padding: 5px;
    cursor: pointer;
    display: none;
    border: none;
    margin-right: 0;
    font-size: 2em;
    border-radius: 50%; }
    .header_nav__menu a.nav_button__hidden:hover {
      background-color: #440028;
      border: none;
      color: white; }
    @media (max-width: 890px) {
      .header_nav__menu a.nav_button__hidden {
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 600px) {
      .header_nav__menu a.nav_button__hidden {
        font-size: 1.5em; } }
  @media (max-width: 1800px) {
    .header_nav__menu {
      font-size: 1.1em; } }
  @media (max-width: 1640px) {
    .header_nav__menu {
      font-size: 1em; } }
  @media (max-width: 890px) {
    .header_nav__menu .header_nav__menu_wrapper {
      display: none;
      position: absolute;
      right: 0;
      background-color: #440028; } }
  .header_nav__menu .header_nav__menu_wrapper a {
    margin-right: 1em;
    padding: 10px 0;
    border-bottom: 2px solid transparent; }
    .header_nav__menu .header_nav__menu_wrapper a.active {
      color: white;
      background-color: #440028;
      margin-right: 0.7em;
      padding: 10px; }
    .header_nav__menu .header_nav__menu_wrapper a:hover {
      border-bottom: 2px solid #440028; }
    .header_nav__menu .header_nav__menu_wrapper a.hidden {
      display: none; }
    @media (max-width: 890px) {
      .header_nav__menu .header_nav__menu_wrapper a {
        color: white;
        display: block; } }
  .header_nav__menu .header_nav__menu_wrapper > a:last-child {
    margin-right: 0; }
  .header_nav__menu .header_nav__menu_wrapper .sub_menu, .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper {
    display: inline-block;
    position: relative; }
    @media (max-width: 890px) {
      .header_nav__menu .header_nav__menu_wrapper .sub_menu, .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper {
        display: block; } }
  @media (max-width: 1580px) and (min-width: 890px) {
    .header_nav__menu .header_nav__menu_wrapper a.active {
      padding: 10px 0;
      background-color: transparent;
      color: #440028;
      border-bottom: 2px solid #440028; }
    .header_nav__menu .header_nav__menu_wrapper a.hidden {
      display: inline; }
    .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover > a {
      border-bottom: 2px solid #440028; }
    .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover .sub_menu {
      display: block;
      position: absolute;
      top: 160%;
      z-index: 432;
      background-color: rgba(255, 255, 255, 0.85);
      border-left: 2px solid #440028; }
      .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover .sub_menu a {
        display: block;
        padding: 10px;
        margin: 0; }
        .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover .sub_menu a:hover {
          background-color: white; }
    .header_nav__menu .header_nav__menu_wrapper .sub_menu {
      display: none; } }
  @media (max-width: 890px) {
    .header_nav__menu .header_nav__menu_wrapper a {
      border-bottom: 2px solid white;
      padding: 10px 5%;
      display: block;
      margin-right: 0;
      width: 100%; }
      .header_nav__menu .header_nav__menu_wrapper a.active, .header_nav__menu .header_nav__menu_wrapper a:hover {
        padding: 10px 5%;
        background-color: white;
        color: #440028;
        border-top: 2px solid #440028;
        margin-top: -2px; } }

.search_form {
  position: relative; }
  .search_form__input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #440028;
    min-width: 300px;
    padding: 5px;
    color: white; }
  .search_form__submit {
    position: absolute;
    right: 0;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 0;
    width: 20px;
    bottom: 5px;
    cursor: pointer; }

.dark_section ::-webkit-input-placeholder {
  color: white; }

.dark_section :-ms-input-placeholder {
  color: white; }

.dark_section ::placeholder {
  color: white; }

.dark_section .search_form__input {
  border-bottom: 2px solid white; }

.dark_section .search_form__submit {
  background: url("../images/header_sprites.png") -78px 0; }

.footer__feedback {
  padding: 1em 4em;
  width: 55%;
  background-color: #FD7760;
  box-sizing: border-box; }
  @media (max-width: 1700px) {
    .footer__feedback {
      width: 65%; } }
  @media (max-width: 1440px) {
    .footer__feedback {
      width: 75%; } }
  @media (max-width: 1220px) {
    .footer__feedback {
      width: 80%; } }
  @media (max-width: 1040px) {
    .footer__feedback {
      width: 100%; } }
  .footer__feedback h2 {
    color: white;
    text-align: left; }

footer {
  overflow: hidden; }
  footer .wrapper {
    padding: 0; }
  footer .flex-container {
    -ms-flex-align: stretch;
        align-items: stretch; }
    @media (max-width: 560px) {
      footer .flex-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  footer .footer__map {
    width: 45%; }
    @media (max-width: 1700px) {
      footer .footer__map {
        width: 35%; } }
    @media (max-width: 1440px) {
      footer .footer__map {
        width: 25%; } }
    @media (max-width: 1220px) {
      footer .footer__map {
        width: 20%; } }
    @media (max-width: 1040px) {
      footer .footer__map {
        display: none; } }
    footer .footer__map img {
      max-width: 158%;
      height: 100%; }
  footer input, footer textarea {
    padding: 0.7em 1.5em;
    background-color: #fad3d3;
    border: 2px solid #fff;
    margin-bottom: .6em;
    font-size: 1em;
    color: #000;
    outline: #fd7760;
    box-sizing: border-box; }
  footer textarea {
    max-width: 28em;
    font-size: 1.1em;
    margin-left: 30px;
    min-height: 150px;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  footer iframe {
    width: 100%;
    height: 100%;
    border: none; }
  footer h6 {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase; }
  footer a {
    color: #fff;
    border: none;
    line-height: 1.7em; }
    footer a:hover {
      text-decoration: underline; }
  @media (max-width: 860px) {
    footer .form {
      max-width: 65%; } }
  @media (max-width: 700px) {
    footer .form {
      max-width: 50%; } }
  @media (max-width: 560px) {
    footer .form {
      max-width: 100%;
      margin-top: 2em; } }
  footer .form .flex-container {
    -ms-flex-pack: start;
        justify-content: flex-start; }
    @media (max-width: 860px) {
      footer .form .flex-container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        footer .form .flex-container > div {
          width: 100%; }
          footer .form .flex-container > div input, footer .form .flex-container > div textarea {
            margin-left: 0;
            width: 100%; } }
  footer .form .footer__but {
    display: -ms-flexbox;
    display: flex; }
  footer .social_links {
    margin-top: 2em; }
    footer .social_links .ico {
      margin-right: 7px;
      margin-bottom: 7px; }
      footer .social_links .ico:hover {
        transform: scale(1.2); }
  footer .phone {
    margin-bottom: 2em; }
  footer .btn__footer {
    padding: .8em 1.2em;
    background-color: transparent;
    border-radius: 2em;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    border: 2px solid #F8BAB1; }
    footer .btn__footer:hover {
      cursor: pointer;
      background-color: white;
      color: #440028; }
  footer form {
    width: 100%; }

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative;
  text-align: center; }
  .white-popup-block h3 {
    margin-bottom: 0; }
  .white-popup-block input, .white-popup-block textarea {
    padding: 0.7em 1.5em;
    border: 2px solid #440028;
    margin-bottom: .6em;
    font-size: 1em;
    width: 100%;
    outline: none;
    box-sizing: border-box; }
  .white-popup-block textarea {
    min-height: 150px;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  .white-popup-block [type="submit"] {
    border: 2px solid #440028;
    color: white;
    background-color: #440028; }
    .white-popup-block [type="submit"]:hover {
      background-color: white;
      color: #440028; }

.head_block_wrapp {
  background-image: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20em; }
  .head_block_wrapp .head_block {
    margin-top: 100px;
    text-align: center;
    max-width: 900px; }
  .head_block_wrapp .head-directions {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2);
    margin: 2em 0 -20em;
    padding: 1em 0; }
    .head_block_wrapp .head-directions__item {
      background-color: white;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
      margin: 1em;
      padding: 2em;
      transition: color 0s; }
      .head_block_wrapp .head-directions__item [class^="icon-"], .head_block_wrapp .head-directions__item [class*=" icon-"] {
        font-size: 5em;
        color: #440028; }
      .head_block_wrapp .head-directions__item:hover {
        background-color: rgba(68, 0, 40, 0.9);
        color: white; }
        .head_block_wrapp .head-directions__item:hover [class^="icon-"], .head_block_wrapp .head-directions__item:hover [class*=" icon-"] {
          color: white; }
        .head_block_wrapp .head-directions__item:hover a.button {
          color: #440028;
          background-color: white; }

.aboutUs_block_wrapp .slider_block img {
  max-height: 250px; }
