/* Magnific Popup CSS */
@import url("https://fonts.googleapis.com/css?family=Tinos:400,700&subset=cyrillic");
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  margin: 0;
  padding: 0;
  transition: transform 0.4s, color 0.4s, background-color 0.4s,  background 0.4s;
  outline: none;
  box-sizing: border-box; }

html, body {
  font-family: 'Tinos', serif;
  padding: 0;
  overflow-x: hidden;
  line-height: 1.4; }

img {
  max-width: 100%;
  vertical-align: middle; }

ul {
  padding-left: 20px; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 2em; }
  @media (max-width: 990px) {
    .container {
      width: 90%; } }

.center__wrapper {
  text-align: center; }
  .center__wrapper .flex-wrapper {
    -ms-flex-pack: center;
        justify-content: center; }

.flex-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -2em; }
  @media (min-width: 400px) {
    .flex-wrapper {
      padding: 0 1em; } }
  .flex-wrapper__center {
    -ms-flex-align: center;
        align-items: center; }
  @media (max-width: 1200px) {
    .flex-wrapper {
      -ms-flex-pack: center;
          justify-content: center; } }
  .flex-wrapper .flex-column__1-5 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px; }
    @media (max-width: 1516px) {
      .flex-wrapper .flex-column__1-5 {
        -ms-flex-preferred-size: 220px;
            flex-basis: 220px; } }
    @media (max-width: 1414px) {
      .flex-wrapper .flex-column__1-5 {
        -ms-flex-preferred-size: 200px;
            flex-basis: 200px; } }
    @media (max-width: 1290px) {
      .flex-wrapper .flex-column__1-5 {
        -ms-flex-preferred-size: 180px;
            flex-basis: 180px; } }
    @media (max-width: 1178px) {
      .flex-wrapper .flex-column__1-5 {
        -ms-flex-preferred-size: 300px;
            flex-basis: 300px; } }
    @media (max-width: 1000px) {
      .flex-wrapper .flex-column__1-5 {
        -ms-flex-preferred-size: 230px;
            flex-basis: 230px; } }
  .flex-wrapper .flex-column__1-4 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    width: 20%; }
    @media (max-width: 1200px) {
      .flex-wrapper .flex-column__1-4 {
        -ms-flex-preferred-size: 350px;
            flex-basis: 350px;
        width: 10%;
        max-width: 350px; } }
  .flex-wrapper .flex-column__1-2 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px; }
  .flex-wrapper .flex-column__1-3 {
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px; }
  .flex-wrapper .flex-column__2-3 {
    -ms-flex-positive: 2;
        flex-grow: 2;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
    width: 20%; }
  .flex-wrapper > div {
    margin-right: 2em; }
  .flex-wrapper > .flex-wrapper {
    margin-right: -2em; }
  .flex-wrapper.flex-content-column {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%; }
    .flex-wrapper.flex-content-column > div {
      margin-right: 0;
      width: 100%; }
  .flex-wrapper .flex-wrapper {
    padding: 0; }

h1 {
  font-size: 3.5em;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1;
  margin: 3em 0 0.5em; }
  h1 .label {
    font-size: 0.4em;
    display: inline-block;
    background-color: #440028;
    color: white;
    padding: 0.3em 0.5em;
    text-transform: initial; }
    @media (max-width: 400px) {
      h1 .label {
        font-size: 0.6em; } }
  @media (max-width: 1200px) {
    h1 {
      font-size: 3em; } }
  @media (max-width: 700px) {
    h1 {
      font-size: 2em; } }
  @media (max-width: 400px) {
    h1 {
      font-size: 1.5em; } }

h2 {
  font-size: 3em;
  line-height: 1;
  margin: 1em 0 0.3em 0;
  color: #440028;
  display: inline-block; }
  @media (max-width: 700px) {
    h2 {
      font-size: 2em; } }
  @media (max-width: 400px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-size: 1.3em;
  line-height: 1.2;
  margin: 1em 0;
  color: #440028; }
  @media (max-width: 700px) {
    h3 {
      font-size: 1.2em; } }
  @media (max-width: 400px) {
    h3 {
      font-size: 1.1em; } }

h4 {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 1em 0; }

h5 {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 1em 0; }

a {
  color: black;
  text-decoration: none; }

span.akcent {
  background-color: #440028;
  color: white;
  padding: 7px 10px;
  font-size: 1.5em; }

.icon_big {
  font-size: 4em; }

a.button {
  border: 2px solid #440028;
  color: #440028;
  padding: 0.5em 1.5em;
  display: inline-block;
  margin: 1em 0;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer; }
  a.button:hover, a.button.active {
    background-color: #440028;
    color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2); }
  a.button + .button {
    margin: 0em 1em 1em; }

.grey_section {
  background-color: #f0f0f0; }

.dark_section {
  background-color: #440028;
  color: white; }
  .dark_section h2 {
    color: white; }
  .dark_section a {
    color: white;
    text-decoration: none; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cuopji");
  src: url("../fonts/icomoon.eot?cuopji#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cuopji") format("truetype"), url("../fonts/icomoon.woff?cuopji") format("woff"), url("../fonts/icomoon.svg?cuopji#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-perc:before {
  content: "\e900"; }

.icon-domain-registration:before {
  content: "\e901"; }

.icon-percent:before {
  content: "\e902"; }

.icon-file:before {
  content: "\e903"; }

.icon-notebook:before {
  content: "\e905"; }

.icon-mortarboard:before {
  content: "\e906"; }

.icon-list:before {
  content: "\e907"; }

.icon-team:before {
  content: "\e908"; }

.icon-information:before {
  content: "\e904"; }

.icon-student:before {
  content: "\e909"; }

.icon-teacher:before {
  content: "\e90a"; }

.icon-teacher2:before {
  content: "\e90b"; }

.icon-facebook:before {
  content: "\e90c"; }

.icon-google:before {
  content: "\e90d"; }

.icon-instagram:before {
  content: "\e90e"; }

.icon-mail:before {
  content: "\e90f"; }

.icon-phone:before {
  content: "\e910"; }

.icon-search:before {
  content: "\e911"; }

.icon-slideshare:before {
  content: "\e912"; }

.icon-twitter:before {
  content: "\e913"; }

.icon-vk:before {
  content: "\e914"; }

.icon-youtube:before {
  content: "\e915"; }

.icon-archive:before {
  content: "\e916"; }

.icon-communication:before {
  content: "\e917"; }

.icon-folder:before {
  content: "\e918"; }

.icon-student2:before {
  content: "\e919"; }

.icon-menu:before {
  content: "\e91a"; }

.icon-loc:before {
  content: "\e91b"; }

.icon-email:before {
  content: "\e91c"; }

.icon-wifi:before {
  content: "\e91d"; }

.icon-cup:before {
  content: "\e91e"; }

.icon-keyboard:before {
  content: "\e91f"; }

.icon-tea:before {
  content: "\e920"; }

.icon-moscow:before {
  content: "\e921"; }

.icon-conversation:before {
  content: "\e922"; }

.header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  z-index: 100; }
  .header .container {
    padding: 10px 0 10px; }
  @media (max-width: 1200px) {
    .header .header_logo {
      width: 250px;
      margin-right: 0; } }
  @media (max-width: 1200px) {
    .header .flex-wrapper {
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  .header .header_contacts {
    margin-right: 0; }

.header_contact {
  margin-right: 20px; }
  .header_contact:last-child {
    margin-right: 0; }
  @media (max-width: 1260px) {
    .header_contact.header_contact__email {
      display: none; } }
  .header_contact [class^="icon-"],
  .header_contact [class*=" icon-"] {
    margin-right: 5px; }

@media (max-width: 910px) {
  .header_search {
    display: none; } }

.social_block [class^="icon-"],
.social_block [class*=" icon-"] {
  box-sizing: border-box;
  padding: 5px;
  border-radius: 50%; }
  .social_block [class^="icon-"]:hover,
  .social_block [class*=" icon-"]:hover {
    color: #440028;
    background-color: white; }

.social_block .soc {
  margin-right: 10px; }
  .social_block .soc:last-child {
    margin-right: 0; }
  @media (max-width: 500px) {
    .social_block .soc:nth-child(6), .social_block .soc:nth-child(7) {
      display: none; }
    .social_block .soc:nth-child(5) {
      margin-right: 0; } }
  @media (max-width: 410px) {
    .social_block .soc:nth-child(5), .social_block .soc:nth-child(3) {
      display: none; }
    .social_block .soc:nth-child(4) {
      margin-right: 0; } }

.header_nav__menu {
  font-size: 1.2em;
  font-weight: 600; }
  .header_nav__menu a.nav_button__hidden {
    padding: 5px;
    cursor: pointer;
    display: none;
    border: none;
    margin-right: 0;
    font-size: 2em;
    border-radius: 50%;
    color: #440028; }
    .header_nav__menu a.nav_button__hidden:hover {
      transform: rotate(360deg); }
    @media (max-width: 890px) {
      .header_nav__menu a.nav_button__hidden {
        display: -ms-flexbox;
        display: flex; } }
    @media (max-width: 600px) {
      .header_nav__menu a.nav_button__hidden {
        font-size: 1.5em; } }
  @media (max-width: 1800px) {
    .header_nav__menu {
      font-size: 1.1em; } }
  @media (max-width: 1640px) {
    .header_nav__menu {
      font-size: 1em; } }
  @media (max-width: 890px) {
    .header_nav__menu .header_nav__menu_wrapper {
      display: none;
      position: absolute;
      right: 0;
      background-color: #440028; } }
  .header_nav__menu .header_nav__menu_wrapper a {
    margin-right: 1em;
    padding: 10px 0;
    border-bottom: 2px solid transparent; }
    .header_nav__menu .header_nav__menu_wrapper a.active {
      color: white;
      background-color: #440028;
      margin-right: 0.7em;
      padding: 10px; }
    .header_nav__menu .header_nav__menu_wrapper a:hover {
      border-bottom: 2px solid #440028; }
    .header_nav__menu .header_nav__menu_wrapper a.hidden {
      display: none; }
    @media (max-width: 890px) {
      .header_nav__menu .header_nav__menu_wrapper a {
        color: white;
        display: block; } }
  .header_nav__menu .header_nav__menu_wrapper > a:last-child {
    margin-right: 0; }
  .header_nav__menu .header_nav__menu_wrapper .sub_menu, .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper {
    display: inline-block;
    position: relative; }
    @media (max-width: 890px) {
      .header_nav__menu .header_nav__menu_wrapper .sub_menu, .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper {
        display: block; } }
  @media (max-width: 1580px) and (min-width: 890px) {
    .header_nav__menu .header_nav__menu_wrapper a.active {
      padding: 10px 0;
      background-color: transparent;
      color: #440028;
      border-bottom: 2px solid #440028; }
    .header_nav__menu .header_nav__menu_wrapper a.hidden {
      display: inline; }
    .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover > a {
      border-bottom: 2px solid #440028; }
    .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover .sub_menu {
      display: block;
      position: absolute;
      top: 160%;
      z-index: 432;
      background-color: rgba(255, 255, 255, 0.85);
      border-left: 2px solid #440028; }
      .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover .sub_menu a {
        display: block;
        padding: 10px;
        margin: 0; }
        .header_nav__menu .header_nav__menu_wrapper .sub_menu_wrapper:hover .sub_menu a:hover {
          background-color: white; }
    .header_nav__menu .header_nav__menu_wrapper .sub_menu {
      display: none; } }
  @media (max-width: 890px) {
    .header_nav__menu .header_nav__menu_wrapper a {
      border-bottom: 2px solid white;
      padding: 10px 5%;
      display: block;
      margin-right: 0;
      width: 100%; }
      .header_nav__menu .header_nav__menu_wrapper a.active, .header_nav__menu .header_nav__menu_wrapper a:hover {
        padding: 10px 5%;
        background-color: white;
        color: #440028;
        border-top: 2px solid #440028;
        margin-top: -2px; } }

.form_wrapper__selects .form__submit {
  color: white !important;
  background-color: #440028;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 5.3em;
  padding-right: 3em !important; }

.form_wrapper__selects .form__select {
  color: black !important; }

.form_wrapper .form__input, .form_wrapper .form__select {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #440028;
  min-width: 260px;
  -ms-flex-preferred-size: 180px;
      flex-basis: 180px;
  padding: 5px;
  color: #440028;
  font-size: 1em;
  font-family: 'Tinos', serif;
  margin-bottom: 0.5em; }
  @media (max-width: 1700px) {
    .form_wrapper .form__input, .form_wrapper .form__select {
      min-width: 270px; } }
  @media (max-width: 1600px) {
    .form_wrapper .form__input, .form_wrapper .form__select {
      min-width: 250px; } }
  @media (max-width: 1500px) {
    .form_wrapper .form__input, .form_wrapper .form__select {
      min-width: 230px; } }
  @media (max-width: 1400px) {
    .form_wrapper .form__input, .form_wrapper .form__select {
      min-width: 180px; } }
  @media (max-width: 522px) {
    .form_wrapper .form__input, .form_wrapper .form__select {
      min-width: 320px; } }
  @media (max-width: 400px) {
    .form_wrapper .form__input, .form_wrapper .form__select {
      min-width: 250px; } }

.form_wrapper .form__submit {
  border: 2px solid #440028;
  color: #440028;
  padding: 0.5em 1.5em;
  display: inline-block;
  margin: 1em 0;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Tinos', serif;
  background-color: transparent; }
  .form_wrapper .form__submit:hover {
    background-color: #440028;
    color: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2); }

.form_wrapper_column .form__input {
  display: block; }

.search_form,
.mail_form {
  position: relative; }
  .search_form__input,
  .mail_form__input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #440028;
    width: 100%;
    padding: 5px;
    color: white; }
    @media (min-width: 863px) {
      .search_form__input,
      .mail_form__input {
        min-width: 300px; } }
  .search_form__submit,
  .mail_form__submit {
    position: absolute;
    right: 0;
    height: 20px;
    border: none;
    background-color: transparent;
    font-size: 0;
    width: 20px;
    bottom: 5px;
    cursor: pointer; }

.dark_section ::-webkit-input-placeholder, footer ::-webkit-input-placeholder {
  color: white; }

.dark_section :-ms-input-placeholder, footer :-ms-input-placeholder {
  color: white; }

.dark_section ::placeholder, footer ::placeholder {
  color: white; }

.dark_section .search_form__input, footer .search_form__input {
  border-bottom: 2px solid white; }

.dark_section .search_form__submit, footer .search_form__submit {
  background: url("../images/search.png") no-repeat;
  background-size: cover; }

.dark_section .mail_form__submit, footer .mail_form__submit {
  background: url("../images/mail.png") no-repeat;
  background-size: cover; }

.footer {
  background-color: #191919;
  color: white;
  padding: 2em 0; }
  .footer a, .footer h3 {
    color: white; }
  .footer h3 {
    margin-bottom: 0.3em; }
  .footer .footer_logo {
    margin-bottom: 1em; }
    @media (max-width: 1450px) {
      .footer .footer_logo {
        max-width: 250px; } }
    @media (max-width: 1370px) {
      .footer .footer_logo {
        max-width: 200px; } }
  .footer .footer_nav__menu a, .footer .footer_contacts a {
    display: block; }
  .footer .footer_nav__menu .footer_contact, .footer .footer_contacts .footer_contact {
    margin-bottom: 0.5em; }
  @media (max-width: 1200px) {
    .footer .flex-wrapper {
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  @media (max-width: 680px) {
    .footer .flex-wrapper {
      -ms-flex-pack: center;
          justify-content: center; } }
  @media (max-width: 946px) {
    .footer .flex-wrapper .flex-column {
      -ms-flex-preferred-size: 350px;
          flex-basis: 350px; } }
  @media (max-width: 863px) {
    .footer .flex-wrapper .flex-column {
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px; } }
  @media (max-width: 740px) {
    .footer .flex-wrapper .flex-column {
      -ms-flex-preferred-size: 250px;
          flex-basis: 250px; } }

.footer_forms h3 {
  margin: 0; }

.footer_forms .footer_form {
  margin-bottom: 1.5em; }

@media (max-width: 1317px) and (min-width: 946px) {
  .footer_forms .footer_search {
    display: none; } }

@media (max-width: 946px) {
  .footer_forms .footer_search {
    margin-top: 1em; } }

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative;
  text-align: center; }
  .white-popup-block h3 {
    margin-bottom: 0; }
  .white-popup-block input, .white-popup-block textarea {
    padding: 0.7em 1.5em;
    border: 2px solid #440028;
    margin-bottom: .6em;
    font-size: 1em;
    width: 100%;
    outline: none;
    box-sizing: border-box; }
  .white-popup-block textarea {
    min-height: 150px;
    font-family: 'Istok Web', 'Helvetica', sans-serif; }
  .white-popup-block [type="submit"] {
    border: 2px solid #440028;
    color: white;
    background-color: #440028; }
    .white-popup-block [type="submit"]:hover {
      background-color: white;
      color: #440028; }

.head_block_wrapp {
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top center; }
  @media (max-width: 1425px) {
    .head_block_wrapp {
      background-size: 150%;
      background-position: 30% top; } }
  @media (max-width: 1425px) and (max-width: 1200px) {
    .head_block_wrapp {
      background-size: 150%;
      background-position: top left; } }
  @media (max-width: 1425px) and (max-width: 1000px) {
    .head_block_wrapp {
      background-size: 1500px;
      background-position: 40% top; } }

.navigation_buttons a {
  margin: 1em 0.2em;
  padding: 0.3em 0.6em;
  color: #440028; }

.slider_block {
  width: 100%;
  position: relative; }
  .slider_block .slick-slide {
    padding: 0 1em; }
  .slider_block .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 60px;
    left: -30px;
    height: 60px;
    background-color: transparent;
    border: none;
    z-index: 10;
    cursor: pointer; }
    @media (max-width: 700px) {
      .slider_block .slick-arrow {
        left: -15px; } }
    .slider_block .slick-arrow:before, .slider_block .slick-arrow:after {
      content: '';
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: #440028; }
      @media (max-width: 700px) {
        .slider_block .slick-arrow:before, .slider_block .slick-arrow:after {
          width: 30px; } }
    .slider_block .slick-arrow:before {
      transform: rotate(45deg) translate(-15px, 34px); }
      @media (max-width: 700px) {
        .slider_block .slick-arrow:before {
          transform: rotate(45deg) translate(-6px, 20px); } }
    .slider_block .slick-arrow:after {
      transform: rotate(-45deg) translate(-15px, -34px); }
      @media (max-width: 700px) {
        .slider_block .slick-arrow:after {
          transform: rotate(-45deg) translate(-6px, -20px); } }
    .slider_block .slick-arrow.slick-next {
      right: -30px;
      left: auto;
      transform: rotate(180deg) translateY(50%); }
      @media (max-width: 700px) {
        .slider_block .slick-arrow.slick-next {
          right: -15px; } }
    .slider_block .slick-arrow + .slick-list {
      padding: 0 1em; }
  .slider_block .slick-disabled {
    opacity: 0.3; }
  .slider_block .slick-dots {
    text-align: center;
    padding: 0;
    margin-bottom: 1em; }
    .slider_block .slick-dots li {
      list-style-type: none;
      display: inline;
      margin: 0 0.1em; }
      .slider_block .slick-dots li button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #440028;
        background-color: initial;
        cursor: pointer; }
      .slider_block .slick-dots li.slick-active button {
        background-color: #440028; }

.dark_section .slick-arrow:before, .dark_section .slick-arrow:after {
  background-color: white; }

.flex-wrapper__container {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.2);
  margin: 2em 0 2em;
  padding: 1em 1em; }

.home .head_block_wrapp {
  margin-bottom: 15em;
  background-image: url(../images/back.jpg); }
  .home .head_block_wrapp .head_block {
    margin-top: 100px;
    text-align: center;
    max-width: 900px; }
  .home .head_block_wrapp .head-directions {
    margin: 2em 0 -15em;
    text-align: center; }
    .home .head_block_wrapp .head-directions__item {
      background-color: white;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
      margin-bottom: 1em;
      padding: 2em 1em 1.5em;
      transition: color 0s; }
      .home .head_block_wrapp .head-directions__item [class^="icon-"], .home .head_block_wrapp .head-directions__item [class*=" icon-"] {
        color: #440028; }
      .home .head_block_wrapp .head-directions__item:hover {
        background-color: rgba(68, 0, 40, 0.9);
        color: white; }
        .home .head_block_wrapp .head-directions__item:hover [class^="icon-"], .home .head_block_wrapp .head-directions__item:hover [class*=" icon-"] {
          color: white; }
        .home .head_block_wrapp .head-directions__item:hover a.button {
          color: #440028;
          background-color: white; }
    @media (min-width: 1200px) {
      .home .head_block_wrapp .head-directions h4 {
        min-height: 2.4em; } }

.about_slider {
  margin-top: 2em; }
  .about_slider img {
    max-height: 250px; }

.specialOffer_block_wrapp .flex-wrapper .flex-column {
  margin-bottom: 1em; }

.lecturers_slider {
  width: 100%;
  max-width: initial; }
  .lecturers_slider .slick-arrow {
    left: 0px; }
    .lecturers_slider .slick-arrow.slick-next {
      right: 0px; }
  @media (min-width: 840px) {
    .lecturers_slider .slick-slide .hidden_block {
      display: none;
      margin: 0 -50%;
      position: relative;
      z-index: 1; } }
  @media (min-width: 1200px) {
    .lecturers_slider .slick-slide.slick-current {
      transform: scale(0.7) translateX(30%); } }
  @media (max-width: 1200px) and (min-width: 840px) {
    .lecturers_slider .slick-slide.slick-current {
      transform: scale(0.8) translateX(10%); } }
  @media (min-width: 1200px) {
    .lecturers_slider .slick-slide.slick-current + .slick-slide {
      transform: scale(0.85); } }
  .lecturers_slider .slick-slide.slick-current + .slick-slide + .slick-slide {
    position: relative;
    z-index: 1; }
    @media (max-width: 1235px) and (min-width: 840px) {
      .lecturers_slider .slick-slide.slick-current + .slick-slide + .slick-slide {
        transform: scale(0.8) translateX(-10%); } }
    @media (min-width: 1235px) {
      .lecturers_slider .slick-slide.slick-current + .slick-slide + .slick-slide + .slick-slide {
        transform: scale(0.85); } }
    @media (min-width: 1235px) {
      .lecturers_slider .slick-slide.slick-current + .slick-slide + .slick-slide + .slick-slide + .slick-slide {
        transform: scale(0.7) translateX(-30%); } }
    @media (min-width: 1235px) and (min-width: 840px) {
      .lecturers_slider .slick-slide.slick-current + .slick-slide + .slick-slide .image_wrapper {
        box-shadow: 0.8em 0.8em 0 0.8em #440028; }
      .lecturers_slider .slick-slide.slick-current + .slick-slide + .slick-slide .hidden_block {
        display: block; } }
  @media (max-width: 1235px) and (min-width: 900px) {
    .lecturers_slider .slick-slide.slick-current + .slick-slide .image_wrapper {
      box-shadow: 0.7em 0.7em 0 0.7em #440028; }
    .lecturers_slider .slick-slide.slick-current + .slick-slide .hidden_block {
      display: block; } }
  @media (max-width: 900px) and (min-width: 840px) {
    .lecturers_slider .slick-slide.slick-current + .slick-slide .image_wrapper {
      box-shadow: 0.6em 0.6em 0 0.6em #440028; }
    .lecturers_slider .slick-slide.slick-current + .slick-slide .hidden_block {
      display: block; } }
  @media (max-width: 840px) {
    .lecturers_slider .slick-slide.slick-current .image_wrapper {
      box-shadow: 0.5em 0.5em 0 0.5em #440028; } }
  .lecturers_slider .slick-arrow {
    top: 150px; }
    @media (max-width: 1660px) {
      .lecturers_slider .slick-arrow {
        top: 130px; } }
    @media (max-width: 1480px) {
      .lecturers_slider .slick-arrow {
        top: 110px; } }
    @media (max-width: 1235px) {
      .lecturers_slider .slick-arrow {
        top: 150px; } }
    @media (max-width: 1000px) {
      .lecturers_slider .slick-arrow {
        top: 110px; } }
    @media (max-width: 700px) {
      .lecturers_slider .slick-arrow {
        top: 150px; } }
  .lecturers_slider .image_wrapper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #440028; }
    .lecturers_slider .image_wrapper img {
      min-width: 100%; }
    @media (max-width: 1760px) {
      .lecturers_slider .image_wrapper {
        width: 280px;
        height: 280px; } }
    @media (max-width: 1685px) {
      .lecturers_slider .image_wrapper {
        width: 250px;
        height: 250px; } }
    @media (max-width: 1480px) {
      .lecturers_slider .image_wrapper {
        width: 220px;
        height: 220px; } }
    @media (max-width: 1310px) {
      .lecturers_slider .image_wrapper {
        width: 200px;
        height: 200px; } }
    @media (max-width: 1235px) {
      .lecturers_slider .image_wrapper {
        width: 320px;
        height: 320px; } }
    @media (max-width: 1130px) {
      .lecturers_slider .image_wrapper {
        width: 280px;
        height: 280px; } }
    @media (max-width: 1090px) {
      .lecturers_slider .image_wrapper {
        width: 230px;
        height: 230px; } }
    @media (max-width: 930px) {
      .lecturers_slider .image_wrapper {
        width: 200px;
        height: 200px; } }
    @media (max-width: 840px) {
      .lecturers_slider .image_wrapper {
        width: 280px;
        height: 280px; } }
    @media (max-width: 560px) {
      .lecturers_slider .image_wrapper {
        width: 220px;
        height: 220px; } }
  .lecturers_slider .specialty {
    background-color: #440028;
    color: white;
    font-weight: 600;
    padding: 0.3em 1em;
    border-radius: 15px;
    margin-top: 0.3em;
    display: inline-block; }

.lessons_block_wrapp .lessons_slider {
  margin-bottom: 1em; }
  .lessons_block_wrapp .lessons_slider .slick-slide {
    padding: 0; }
  .lessons_block_wrapp .lessons_slider img {
    width: auto;
    max-height: 300px; }

.lessons_block_wrapp p {
  margin-bottom: 1em; }

.category.all-categories .head_block_wrapp,
.single.all-categories .head_block_wrapp {
  background-image: url(../images/back-category.jpg); }

.category .head_block_wrapp,
.single .head_block_wrapp {
  background-image: url(../images/back-category-1.jpg); }
  .category .head_block_wrapp .flex-wrapper.wrapper__head_block,
  .single .head_block_wrapp .flex-wrapper.wrapper__head_block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    @media (max-width: 1020px) {
      .category .head_block_wrapp .flex-wrapper.wrapper__head_block,
      .single .head_block_wrapp .flex-wrapper.wrapper__head_block {
        display: initial; } }
  @media (min-width: 1020px) {
    .category .head_block_wrapp .flex-wrapper > .head_block,
    .single .head_block_wrapp .flex-wrapper > .head_block {
      margin-top: 0; } }
  .category .head_block_wrapp .head_block,
  .single .head_block_wrapp .head_block {
    margin-top: 100px;
    max-width: 900px; }
    @media (max-width: 1020px) {
      .category .head_block_wrapp .head_block,
      .single .head_block_wrapp .head_block {
        text-align: center;
        margin-right: 0; } }
  .category .head_block_wrapp .form-block,
  .single .head_block_wrapp .form-block {
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    background-color: white;
    padding: 0 30px;
    max-width: 350px;
    margin: 0 auto;
    opacity: 0.9; }
    .category .head_block_wrapp .form-block .form__input,
    .single .head_block_wrapp .form-block .form__input {
      width: 100%;
      min-width: 100%; }
    .category .head_block_wrapp .form-block h4,
    .single .head_block_wrapp .form-block h4 {
      background-color: #440028;
      color: white;
      margin: 0px -45px 10px -45px;
      padding: 10px 30px 20px;
      font-size: 2em;
      word-wrap: break-word;
      max-width: 400px;
      position: relative;
      line-height: 1; }
      .category .head_block_wrapp .form-block h4:after, .category .head_block_wrapp .form-block h4:before,
      .single .head_block_wrapp .form-block h4:after,
      .single .head_block_wrapp .form-block h4:before {
        content: '';
        display: block;
        border: 7.5px solid transparent;
        border-top: 7.5px solid black;
        border-right: 7.5px solid black;
        width: 0;
        height: 0;
        left: 0px;
        bottom: -14px;
        position: absolute;
        z-index: 0; }
      .category .head_block_wrapp .form-block h4:after,
      .single .head_block_wrapp .form-block h4:after {
        right: 0px;
        left: initial;
        border: 7.5px solid transparent;
        border-left: 7.5px solid black;
        border-top: 7.5px solid black; }
  .category .head_block_wrapp .form_header,
  .single .head_block_wrapp .form_header {
    text-align: center;
    padding: 0.3em 2em;
    margin-top: 1em;
    background-image: url(../images/elips.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    max-width: 707px;
    position: relative; }
    @media (max-width: 1325px) {
      .category .head_block_wrapp .form_header,
      .single .head_block_wrapp .form_header {
        padding: 1em 1em;
        max-width: 650px;
        margin-left: -95px; } }
    @media (max-width: 1076px) {
      .category .head_block_wrapp .form_header,
      .single .head_block_wrapp .form_header {
        max-width: 580px;
        padding: 1em 2em;
        margin-left: -75px; } }
    @media (max-width: 1020px) {
      .category .head_block_wrapp .form_header,
      .single .head_block_wrapp .form_header {
        max-width: 100%;
        margin-left: 0;
        background-position: bottom center;
        padding: 0.5em 2em;
        margin-bottom: 5em; } }
    @media (max-width: 680px) {
      .category .head_block_wrapp .form_header,
      .single .head_block_wrapp .form_header {
        padding: 2em 2em; } }
    @media (max-width: 611px) {
      .category .head_block_wrapp .form_header,
      .single .head_block_wrapp .form_header {
        padding: initial;
        background: initial; } }
    .category .head_block_wrapp .form_header:after,
    .single .head_block_wrapp .form_header:after {
      content: '';
      display: table;
      width: 174px;
      height: 55px;
      background-image: url(../images/arrow.png);
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      right: -170px;
      top: 30%; }
      @media (max-width: 1325px) {
        .category .head_block_wrapp .form_header:after,
        .single .head_block_wrapp .form_header:after {
          width: 120px;
          right: -115px; } }
      @media (max-width: 1020px) {
        .category .head_block_wrapp .form_header:after,
        .single .head_block_wrapp .form_header:after {
          transform: rotate(50deg);
          right: initial;
          bottom: -63px;
          top: initial;
          left: 30%; } }
    .category .head_block_wrapp .form_header h5,
    .single .head_block_wrapp .form_header h5 {
      line-height: 1.8; }

.category .flex-wrapper__container,
.single .flex-wrapper__container {
  background-color: rgba(68, 0, 40, 0.15); }

.events_block__wrapper .event_block__prew {
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.4);
  z-index: 1;
  margin-bottom: 1em;
  margin-top: 1em; }

.events_block__wrapper .flex-wrapper {
  -ms-flex-pack: start;
      justify-content: flex-start; }
  @media (max-width: 1006px) {
    .events_block__wrapper .flex-wrapper {
      -ms-flex-pack: center;
          justify-content: center; } }

.events_block__wrapper .form_wrapper {
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (max-width: 706px) {
    .events_block__wrapper .form_wrapper {
      -ms-flex-pack: center;
          justify-content: center; }
      .events_block__wrapper .form_wrapper .flex-wrapper {
        -ms-flex-pack: center;
            justify-content: center; } }

.events_block__wrapper .flex-column__event {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 390px; }
  .events_block__wrapper .flex-column__event .event_block__prew_info {
    padding: 1em 1em 0; }
    .events_block__wrapper .flex-column__event .event_block__prew_info .category {
      position: absolute;
      background-color: #440028;
      color: white;
      font-weight: 600;
      padding: 5px 10px 5px 25px;
      top: 15px;
      left: -15px; }
      .events_block__wrapper .flex-column__event .event_block__prew_info .category:after {
        content: '';
        display: block;
        background-color: #440028;
        width: 20px;
        height: 20px;
        position: absolute;
        transform: rotate(45deg);
        bottom: -10px;
        z-index: -1;
        left: 5px; }
    .events_block__wrapper .flex-column__event .event_block__prew_info .label {
      background-color: rgba(68, 0, 40, 0.15);
      padding: 3px;
      margin-right: 3px;
      font-weight: 600; }
    .events_block__wrapper .flex-column__event .event_block__prew_info p {
      margin-bottom: 1em;
      text-align: left; }

.single .head_block_wrapp {
  background-image: url(../images/event.jpg);
  background-size: cover; }
  @media (min-width: 1200px) {
    .single .head_block_wrapp {
      padding: 4em 0; } }
  .single .head_block_wrapp .form-block {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }

.single h1 {
  text-transform: initial; }

.single .dates {
  text-transform: uppercase; }
  .single .dates .current_date {
    color: black;
    font-size: 1.3em; }
  .single .dates .other_dates {
    position: relative;
    display: inline-block;
    margin-left: 20px; }
    .single .dates .other_dates:before {
      content: '';
      display: block;
      width: 5px;
      height: 5px;
      border: 1px solid #440028;
      border-radius: 50%;
      position: absolute;
      bottom: 0.35em;
      left: -13px; }

.single .information_block_wrapp .flex-wrapper {
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  @media (max-width: 1020px) {
    .single .information_block_wrapp .flex-wrapper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: center;
          justify-content: center; } }

.single .information_block_wrapp .main-information {
  background-color: #e6dfe3;
  padding: 5em 2em 0;
  position: relative;
  max-width: 380px;
  min-width: 290px;
  margin-top: 4.5em; }
  @media (min-width: 1200px) {
    .single .information_block_wrapp .main-information {
      min-width: 370px; } }
  @media (max-width: 1020px) {
    .single .information_block_wrapp .main-information {
      max-width: 450px; } }
  .single .information_block_wrapp .main-information:before {
    font-family: 'icomoon' !important;
    content: '\e904';
    font-size: 4em;
    position: absolute;
    background-color: #440028;
    color: white;
    border: 5px solid #f0f0f0;
    width: 115px;
    height: 115px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    top: -0.9em;
    left: 50%;
    transform: translateX(-50%); }
  .single .information_block_wrapp .main-information > div {
    margin-bottom: 0.5em; }
  .single .information_block_wrapp .main-information .item {
    font-weight: 600; }

.single .information_block_wrapp .tab_wrapper .tabs-links a {
  background-color: white;
  padding: 0.5em 1em;
  display: inline-block;
  font-weight: 600;
  margin-right: 0.3em; }
  @media (max-width: 670px) {
    .single .information_block_wrapp .tab_wrapper .tabs-links a {
      display: block;
      margin-right: 0;
      border-bottom: 1px solid #440028;
      background-color: #f9f9f9; } }
  .single .information_block_wrapp .tab_wrapper .tabs-links a i {
    font-size: 1.7em;
    vertical-align: middle;
    margin-right: 0.2em;
    transition: 0s color; }
  .single .information_block_wrapp .tab_wrapper .tabs-links a.active {
    background-color: #440028;
    color: white; }

.single .information_block_wrapp .tab_wrapper > div {
  padding: 0.2em 2em 1em;
  background-color: white;
  margin-bottom: 1em;
  display: none;
  border-top: 5px solid #440028; }
  .single .information_block_wrapp .tab_wrapper > div.active {
    display: block; }

.single .lecturers_block_wrapp .slick-initialized .slick-slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  @media (max-width: 808px) {
    .single .lecturers_block_wrapp .slick-initialized .slick-slide {
      display: block;
      text-align: center; } }

.single .lecturers_block_wrapp .slick-slide.slick-center .image_wrapper {
  transform: scale(1); }
  @media (max-width: 1235px) {
    .single .lecturers_block_wrapp .slick-slide.slick-center .image_wrapper {
      display: block; } }

.single .lecturers_block_wrapp .slick-slide.slick-center .hidden_block {
  display: block; }

.single .lecturers_block_wrapp .slick-slide .image_wrapper {
  width: 300px;
  height: 300px;
  transform: scale(0.75) translateY(2%);
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #440028; }
  @media (max-width: 1235px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      display: none; } }
  .single .lecturers_block_wrapp .slick-slide .image_wrapper img {
    min-width: 100%; }
  @media (max-width: 1760px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 280px;
      height: 280px; } }
  @media (max-width: 1685px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 250px;
      height: 250px; } }
  @media (max-width: 1480px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 220px;
      height: 220px; } }
  @media (max-width: 1310px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 200px;
      height: 200px; } }
  @media (max-width: 1235px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 320px;
      height: 320px; } }
  @media (max-width: 1130px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 280px;
      height: 280px; } }
  @media (max-width: 1090px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 230px;
      height: 230px; } }
  @media (max-width: 930px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 200px;
      height: 200px; } }
  @media (max-width: 840px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 280px;
      height: 280px; } }
  @media (max-width: 560px) {
    .single .lecturers_block_wrapp .slick-slide .image_wrapper {
      width: 220px;
      height: 220px; } }

.single .lecturers_block_wrapp .slick-slide .hidden_block {
  display: none;
  max-width: 700px;
  margin-left: 20px; }
  @media (max-width: 1859px) {
    .single .lecturers_block_wrapp .slick-slide .hidden_block {
      max-width: 600px; } }
  @media (max-width: 1600px) {
    .single .lecturers_block_wrapp .slick-slide .hidden_block {
      max-width: 520px; } }
  @media (max-width: 1407px) {
    .single .lecturers_block_wrapp .slick-slide .hidden_block {
      max-width: 450px; } }
  @media (max-width: 1267px) {
    .single .lecturers_block_wrapp .slick-slide .hidden_block {
      max-width: 400px; } }
  @media (max-width: 1235px) {
    .single .lecturers_block_wrapp .slick-slide .hidden_block {
      max-width: auto; } }

.single .lecturers_block_wrapp .slick-slide .specialty {
  background-color: #440028;
  color: white;
  font-weight: 600;
  padding: 0.3em 1em;
  border-radius: 15px;
  margin-top: 0.3em;
  display: inline-block; }

.single .lecturers_block_wrapp .slick-arrow {
  top: 150px; }
  @media (max-width: 1660px) {
    .single .lecturers_block_wrapp .slick-arrow {
      top: 130px; } }
  @media (max-width: 1480px) {
    .single .lecturers_block_wrapp .slick-arrow {
      top: 110px; } }
  @media (max-width: 1235px) {
    .single .lecturers_block_wrapp .slick-arrow {
      top: 150px; } }
  @media (max-width: 1000px) {
    .single .lecturers_block_wrapp .slick-arrow {
      top: 110px; } }
  @media (max-width: 700px) {
    .single .lecturers_block_wrapp .slick-arrow {
      top: 150px; } }
